data-builders/csv-builders/node_modules
data/csv-data/test+train.csv
data/csv-data/metadata.csv
data/image-data/images
data/image-data/test-images
data/image-data/imagini
data/image-data/
data/image-data/cropped-images
data/image-data/train-images
.DS_Store
data/.DS_Store
data/image-data/.DS_Store
data-builders/.DS_Store
data-builders/csv-builders/image-names.js
dsa.docx
first_table.docx
test.docx
__pycache__/
lacunaritate.docx
tabel_principal.docx
~$bel_principal.docx
dim_fractala_medie.docx
utils.py
~$m_fractala_medie.docx
original_images.docx
data.zip
